@media screen and (max-width: 1440px) {
  .hero-about {
    width: 1279.5px;
    height: 404px;
    gap: 0.5rem;
  }

  .a {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .b {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .c {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .d {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .e {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .f {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .g {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .h {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  .i {
    background-image: url("../assets/laptop/images/Rectangle6326.png");
  }

  /* welcome section */

  .welcome {
    width: 1280px;
  }
  .welcome h2 {
    font-size: 38px;
  }

  /* story section */
  .story {
    margin-top: 4rem;
    width: 1280px;
  }

  .gym {
    background-image: url("../assets/laptop/images/gym.png");
  }

  .trophy {
    background-image: url("../assets/laptop/images/trophy.png");
  }

  .soil {
    background-image: url("../assets/laptop/images/soil.png");
  }

  .shake-hands {
    background-image: url("../assets/laptop/images/shake-hands.png");
  }

  .volunteer {
    background-image: url("../assets/laptop/images/volunteer.png");
  }

  .meeting {
    background-image: url("../assets/laptop/images/meeting.png");
  }

  .balloon {
    background-image: url("../assets/laptop/images/balloon.png");
  }

  .goal-post {
    background-image: url("../assets/laptop/images/goal-post.png");
  }

  .two-apples {
    background-image: url("../assets/laptop/images/two-apples.png");
  }

  .writing {
    background-image: url("../assets/laptop/images/writing.png");
  }

  .gym,
  .trophy,
  .soil,
  .shake-hands,
  .volunteer,
  .meeting,
  .balloon,
  .goal-post,
  .two-apples,
  .writing {
    height: 420px;
  }

  .grid-story h4 {
    font-size: 24px;
  }

  .grid-story h6 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1294px) {
  .hero-about {
    width: 88vw;
    height: 138px;
    margin: 2rem auto 12rem auto;
  }

  .welcome,
  .story {
    width: 88vw;
  }

  .c img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .recognition,
  .success,
  .expand,
  .inception,
  .innovate {
    padding-right: 3rem;
    padding-top: 2rem;
  }

  .inspiring,
  .growth,
  .support,
  .celebrating,
  .research {
    padding-left: 3rem;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .recognition,
  .success,
  .expand,
  .inception,
  .innovate {
    padding-right: 1.5rem;
  }

  .inspiring,
  .growth,
  .support,
  .celebrating,
  .research {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .hero-about {
    height: 18vh;
    margin: 2rem auto 4rem auto;
    gap: 0.3rem;
  }

  .c img {
    width: 50px;
    height: 50px;
  }

  /* welcome section */
  .welcome h2 {
    font-size: 28px;
  }

  /* story section */

  .grid-story {
    grid-template-areas:
      "gym"
      "inspiring"
      "trophy"
      "recognition"
      "soil"
      "growth"
      "shake-hands"
      "success";
  }

  .gym {
    background-image: url("../assets/mobile/images/gym.png");
  }

  .inspiring, .recognition, .growth, .success  {
    padding-bottom: 1rem;
  }


  .trophy {
    background-image: url("../assets/mobile/images/trophy.png");
  }

  .soil {
    background-image: url("../assets/mobile/images/soil.png");
  }

  .shake-hands {
    background-image: url("../assets/mobile/images/shake-hands.png");
  }

  .volunteer,
  .meeting,
  .balloon,
  .goal-post,
  .two-apples,
  .writing, .inception, .research, .expand, .celebrating, .innovate, .support {
    display: none;
  }

  .gym,
  .trophy,
  .soil,
  .shake-hands {
    height: 206px;
  }

  .grid-story h4 {
    font-size: 20px;
  }

  .grid-story h6 {
    font-size: 14px;
  }
}
