.hero-about {
  width: 1596px;
  height: 520px;
  margin: 5rem auto 4rem auto;
  display: grid;
  gap: 0.7rem;
  grid-template-areas:
    "a b c c d e"
    "f g c c h i";
}

.a {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: a;
}

.b {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: b;
}

.c {
  background-image: url("../assets/desktop/images/Rectangle6327.png");
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c img {
  width: 150px;
  height: 150px;
}

.d {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: d;
}

.e {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: e;
}

.f {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: f;
}

.g {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: g;
}

.h {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: h;
}

.i {
  background-image: url("../assets/desktop/images/Rectangle6329.png");
  grid-area: i;
}

.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h,
.i {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.welcome {
    width: 1596px;
    height: fit-content;
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    margin: auto;
    overflow: hidden;
    padding-bottom: 4rem;
}

.welcome h2, p {
    text-align: center;
}

.welcome p {
    width: 85%;
    margin: auto;
    line-height: 150%;
}

.welcome h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 5rem 0 3rem 0;
}

.story {
    margin-top: 6rem;
}


