.blog-hero {
  width: 1596px;
  height: 489px;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding-top: 4rem;
  position: relative;
}

.blog-hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url("../assets/laptop/images/star.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 40%;
}

.blog-hero img,
.blog-hero p,
.blog-hero h2 {
  position: relative;
  z-index: 5;
}

.blog-hero p {
  text-align: center;
  width: 90%;
  margin-top: 0.3rem;
}

.blog-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--color-happy);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.blog-list span {
  color: var(--color-ash);
  font-size: 18px;
  cursor: pointer;
}

.blog-list span:hover {
  color: var(--color-lemon);
}

.blog-list span:nth-child(1) {
  padding: 0.5rem 0.7rem;
  background-color: var(--color-green-text);
  border-radius: 0.5rem;
}


/* categories section */

.categories {
  width: 1596px;
  /* height: 3762px; */
  background-color: var(--bg-light);
  display: grid;
  grid-template-areas:
  'apple ball'
  'cat dog'
  'egg fat'
  'got hen'
  'ink jug'
  'kettle lamb';
  margin: 5rem auto 7rem auto;
  border-radius: 0.5rem;
}


.cake {
grid-area: apple;
}

.dumbellApple {
grid-area: ball;
}

.greenPink {
grid-area: cat;
}

.dumbellTape {
grid-area: dog;
}

.leavePear {
grid-area: egg;
}

.egg {
grid-area: fat;
}

.shoe {
grid-area: got;
}

.pressUp {
grid-area: hen;
}

.field {
grid-area: ink;
}

.think {
grid-area: jug;
}

.vegetable {
  grid-area: kettle;
}

.eat {
  grid-area: lamb;
}



/* .cake, .dumbellApple, .greenPink, .dumbellTape, .leavePear, .egg, .shoe, .pressUp, .field, .think, .vegetable, .eat {

} */

