.blog-hero {
  width: 1596px;
  height: 489px;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding-top: 4rem;
  position: relative;
}

.blog-hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url("../assets/laptop/images/star.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 40%;
}

.blog-hero img,
.blog-hero p,
.blog-hero h2 {
  position: relative;
  z-index: 5;
}

.blog-hero p {
  text-align: center;
  width: 90%;
  margin-top: 0.3rem;
}

.blog-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--color-happy);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.blog-list span {
  color: var(--color-ash);
  font-size: 18px;
  cursor: pointer;
}

.blog-list span:hover {
  color: var(--color-lemon);
}

.blog-list span:nth-child(1) {
  padding: 0.5rem 0.7rem;
  background-color: var(--color-green-text);
  border-radius: 0.5rem;
}

/* categories section */

.categories {
  width: 1596px;
  background-color: var(--bg-light);
  display: grid;
  grid-template-areas:
    "apple ball"
    "cat dog"
    "egg fat"
    "got hen"
    "ink jug"
    "kettle lamb";
  margin: 5rem auto 7rem auto;
  border-radius: 0.5rem;
}

.cake {
  grid-area: apple;
}

.dumbellApple {
  grid-area: ball;
}

.greenPink {
  grid-area: cat;
}

.dumbellTape {
  grid-area: dog;
}

.leavePear {
  grid-area: egg;
}

.egg {
  grid-area: fat;
}

.shoe {
  grid-area: got;
}

.pressUp {
  grid-area: hen;
}

.field {
  grid-area: ink;
}

.think {
  grid-area: jug;
}

.vegetable {
  grid-area: kettle;
}

.eat {
  grid-area: lamb;
}

.cake > div {
  background-image: url("../assets/desktop/images/cake.png");
}

.dumbellApple > div {
  background-image: url("../assets/desktop/images/dumbellApple.png");
}

.greenPink > div {
  background-image: url("../assets/desktop/images/greenPink.png");
}

.dumbellTape > div {
  background-image: url("../assets/desktop/images/dumbellTape.png");
}

.leavePear > div {
  background-image: url("../assets/desktop/images/leavePear.png");
}

.egg > div {
  background-image: url("../assets/desktop/images/egg.png");
}

.shoe > div {
  background-image: url("../assets/desktop/images/shoe.png");
}

.pressUp > div {
  background-image: url("../assets/desktop/images/pressUp.png");
}

.field > div {
  background-image: url("../assets/desktop/images/field.png");
}

.think > div {
  background-image: url("../assets/desktop/images/think.png");
}

.vegetable > div {
  background-image: url("../assets/desktop/images/vegetable.png");
}

.eat > div {
  background-image: url("../assets/desktop/images/eat.png");
}

.cake > div,
.dumbellApple > div,
.greenPink > div,
.dumbellTape > div,
.leavePear > div,
.egg > div,
.shoe > div,
.pressUp > div,
.field > div,
.think > div,
.vegetable > div,
.eat > div {
  background-size: cover;
  background-repeat: no-repeat;
  width: 531px;
  height: 228px;
  transform: translateX(10rem);
}

.loss1 {
  font-size: 24px;
  position: relative;
  margin: 4rem 0 4rem 2.3rem;
  text-align: left;
  position: relative;
  width: fit-content;
}

.loss1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -0.6rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--color-lemon);
}

.loss2 {
  font-size: 24px;
  margin: 0 0 0.7rem 0;
  text-align: left;
  width: 100%;
}

.loss2 + p {
  width: 100%;
}

.read-more {
  border-radius: 0.5rem;
  border: none;
  padding: 0.9rem 1rem;
  background-color: var(--color-lemon);
  cursor: pointer;
}

.read-more:hover {
  background-color: var(--color-thick-lemon);
}

.cake section,
.dumbellApple section,
.greenPink section,
.dumbellTape section,
.leavePear section,
.egg section,
.shoe section,
.pressUp section,
.field section,
.think section,
.vegetable section,
.eat section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 margin: 3rem 0 2.4rem 0;
}

.cake section div,
.dumbellApple section div,
.greenPink section div,
.dumbellTape section div,
.leavePear section div,
.egg section div,
.shoe section div,
.pressUp section div,
.field section div,
.think section div,
.vegetable section div,
.eat section div {
 width: 70%;
}


.cake,
.dumbellApple,
.greenPink,
.dumbellTape,
.leavePear,
.egg,
.shoe,
.pressUp,
.field,
.think,
.vegetable,
.eat {
  position: relative;
}

.cake::before,
.greenPink::before,
.leavePear::before,
.shoe::before,
.field::before,
.vegetable::before,
.dumbellApple::before,
.dumbellTape::before,
.egg::before,
.pressUp::before,
.think::before,
.eat::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: var(--color-lemon);
}

.cake::after,
.greenPink::after,
.leavePear::after,
.shoe::after,
.field::after,
.vegetable::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--color-lemon);
}

/* .cake, .dumbellApple, .greenPink, .dumbellTape, .leavePear, .egg, .shoe, .pressUp, .field, .think, .vegetable, .eat {

} */
