@media screen and (max-width: 1440px) {
  .blog-hero {
    width: 1280px;
    height: 427px;
  }

  .categories {
    width: 1280px;
  }

  .blog-list span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1294px) {
  .blog-hero, .categories {
    width: 88vw;
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .blog-list span:nth-child(4),
  .blog-list span:nth-child(5),
  .blog-list span:nth-child(6) {
    width: 20vw;
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .blog-hero p {
    width: 93%;
  }

  .blog-hero::before {
    width: 70%;
    height: 70%;
  }

  .blog-list span {
    font-size: 14px;
  }
}
