@media screen and (max-width: 1440px) {
  .contactUs {
    width: 1280px;
    height: 427px;
  }

  .blog-list span {
    font-size: 16px;
  }

  /* cta section */

  .cta,
  form {
    width: 1280px;
  }
}

@media screen and (max-width: 1294px) {
  .contactUs {
    width: 88vw;
    height: fit-content;
  }

  /* cta section */

  .cta,
  form {
    width: 88vw;
  }
}

@media screen and (max-width: 1024px) {
  .cta div h2 {
    font-size: 1.5rem;
  }

  .fields {
    width: 80%;
  }

  .location {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .contact-list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 425px) {
  .contactUs p {
    width: 93%;
  }

  .contactUs::before {
    width: 70%;
    height: 70%;
  }

  .blog-list span {
    font-size: 14px;
  }

  /* cta section */

  .cta {
    row-gap: 2rem;
  }

  .cta div {
    width: 90%;
  }

  .cta div h2,
  .cta div p {
    text-align: center;
  }

  .fields {
    width: 95%;
  }

  .location {
    width: 95%;
  }

  .fields div:nth-child(1) {
    width: 100%;
  }

  .fields div:nth-child(2) {
    width: 100%;
  }
}
