.contactUs {
  width: 1596px;
  height: 543px;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding-top: 4rem;
  position: relative;
}

.contactUs::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url("../assets/laptop/images/star.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 40%;
}

.contactUs img,
.contactUs p,
.contactUs h2 {
  position: relative;
  z-index: 5;
}

.contactUs p {
  text-align: center;
  width: 90%;
  margin-top: 0.3rem;
}

.contact-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: 3rem 0;
  background-color: var(--color-happy);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.contact-list span {
  color: var(--color-ash);
  font-size: 18px;
  cursor: pointer;
}

.contact-list div span:hover {
  color: var(--color-lemon);
}

.contact-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 0.9rem 0.9rem;
  background-color: var(--color-green-text);
  border-radius: 0.5rem;
}

/* cta section */

.cta {
  width: 1596px;
  border-radius: 0.5rem;
  background-color: var(--bg-light);
  margin: 7rem auto 0 auto;
  padding: 3rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 6;
}

.cta div {
  width: 70%;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/general-images/AbstractDesign.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 90px;
}

.cta::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../assets/general-images/Petals.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 90px;
}

.cta div p {
  text-align: left;
  margin: 1rem 0 0 0;
  position: relative;
  z-index: 5;
}

.cta div h2 {
  margin: 0;
  text-align: left;
  position: relative;
  z-index: 5;
  font-size: 2rem;
}

/* form section */

form {
  width: 1596px;
  height: fit-content;
  margin: 5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.9rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding: 5rem 0 5rem 0;
  flex-wrap: wrap;
}

.fields {
  display: flex;
  column-gap: 0.8rem;
  row-gap: 1.5rem;
  width: 40%;
  flex-wrap: wrap;
  align-items: center;
}

.fields div:nth-child(1) {
  width: 45%;
}

.fields div:nth-child(2) {
  width: 45%;
}

.fields div:nth-child(3) {
  width: 100%;
}

.fields div:nth-child(4) {
  width: 100%;
}

.fields button {
  width: 100%;
}

.fields div {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  align-items: start;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-blog-p-text);
}

.fields input,
.fields textarea {
  background-color: var(--color-input);
  border-radius: 0.3rem;
  border: 0.1px solid rgb(236, 236, 236);
}

.fields div:nth-child(1) input,
.fields div:nth-child(2) input {
  width: 100%;
  height: 60px;
  padding: 0.1rem 0 0 1rem;
}

.fields div:nth-child(3) input {
  width: 100%;
  height: 68px;
  padding: 0.1rem 0 0 1rem;
}

.fields div:nth-child(4) textarea {
  width: 100%;
  height: 135px;
  padding: 1.7rem 0 0 1rem;
}

.fields div:nth-child(1), .fields div:nth-child(2) , .fields div:nth-child(3), .fields div:nth-child(4) {
  position: relative;
}

.fields div:nth-child(4) span {
  position: absolute;
  right: 0;
  bottom: -1.4rem;
  color: var(--color-date-text);
  font-size: 0.7rem;
}

.nameMessage, .emailMessage, .phoneMessage, .bigMessage {
   position: absolute;
  right: 0;
  bottom: 0rem;
  display: none;
  color: var(--color-date-text);
  font-size: 0.7rem;
}

.fields button {
  width: 100%;
  height: 63px;
  border: none;
  background-color: var(--color-lemon);
  cursor: pointer;
  margin-top: 1.3rem;
}

.fields button:hover {
  background-color: var(--color-thick-lemon);
}

.location {
  width: 45%;
}

.location iframe {
  width: 100%;
  height: 50vh;
}
