.hero {
  width: fit-content;
  height: fit-content;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  overflow-x: hidden;
}

.hero-left {
  background-image: url("../assets/desktop/images/coach.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 949px;
  height: 832px;
}

.hero-right {
  width: 644px;
  position: relative;
  height: fit-content;
}

.hero-right .title {
  color: var(--color-p-text);
  font-size: 28px;
  font-weight: 600;
  position: relative;
}

.hero-right .title::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  border-bottom: 3px solid var(--color-lemon);
  width: 60%;
}

.hero-right h1 {
  color: var(--color-thick-text);
  font-size: 58px;
  font-weight: 700;
  margin: 1.7rem 0 2.4rem 0;
}

.hero-right p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-p-text);
  margin-bottom: 2.7rem;
}

.btn-cover {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.btn-cover button {
  cursor: pointer;
  font-size: 18px;
  height: 59px;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.btn-cover button:nth-child(1) {
  width: 187px;
  background-color: var(--color-lemon);
  border: none;
}

.btn-cover button:nth-child(1):hover {
  background-color: var(--color-thick-lemon);
}

.btn-cover button:nth-child(2) {
  width: 154px;
  background-color: var(--bg-light);
  border: 0.2px solid var(--color-lemon);
  box-shadow: 2px 2px 6px var(--color-lemon);
}

.btn-cover button:nth-child(2):hover {
  background-color: var(--color-dark-green);
  color: var(--bg-light);
}

.slogan {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.slogan div {
  border: 2px solid var(--color-lemon);
  border-radius: 2.3rem;
  position: relative;
  width: 8vw;
  height: 7.5vh;
}

.slogan div img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slogan div img:nth-child(3) {
  right: 0.8rem;
}

.slogan div img:nth-child(1) {
  left: 0.7rem;
}

.slogan div img:nth-child(2) {
  right: 0;
  left: 0;
  margin: auto;
}

.slogan span:nth-child(1) {
  color: var(--color-rating);
  font-weight: 700;
  font-size: 18px;
}

.slogan span:nth-child(2) {
  color: var(--color-happy);
  font-weight: 600;
  font-size: 18px;
}

/* features section */

.features {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.features p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-p-text);
  margin: 1rem 0 4rem 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  justify-content: center;
  gap: 1rem;
}

.card-container .card {
  width: 630px;
  height: 226px;
  background-color: var(--color-card);
  padding: 1.5rem 0 0 2rem;
  box-shadow: 2px 1px 2px var(--color-lemon);
  border-radius: 0.5rem;
}

.card-container .card div {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.card img {
  background-color: var(--color-lemon);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.card h5 {
  font-size: 24px;
  color: var(--color-dark-green);
}

.card p {
  color: var(--color-p-text);
  width: 90%;
  font-size: 18px;
  margin-top: 1.5rem;
}

/* blog section */

.blog {
  width: 100vw;
  max-width: 1920px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.blog-container {
  width: 100%;
  height: fit-content;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.sub-blog-cover{
  width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.blog-card{

}
