@media screen and (max-width: 1440px) {
  .hero-left{
  background-image: url('../assets/laptop/images/coach.png');
  width: 710px;
  height: 712px;
}


}



@media screen and (max-width: 768px) {
  .btn-cover {
    margin-bottom: 0;
  }
  }