  header {
    height: 74px;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: var(--color-dark-green);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    transition: transform 0.9s ease-in-out;
    position: relative;
    z-index: 100;
  }

  .nav-links {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    row-gap: 2.5rem;
  }

  .page {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--color-light-green);
  }

  .nav-links li:hover a {
    color: var(--color-lemon);
  }

  .contact {
    color: var(--color-button-text);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--color-lemon);
  }
