.process {
  width: 1596px;
  height: 543px;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding-top: 4rem;
  position: relative;
}

.process::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url("../assets/laptop/images/star.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 40%;
}

.process img,
.process p,
.process h2 {
  position: relative;
  z-index: 5;
}

.process p {
  text-align: center;
  width: 90%;
  margin-top: 0.3rem;
}

/* begin section */

.begin {
  width: 1596px;
  border-radius: 0.5rem;
  background-color: var(--bg-light);
  margin: 7rem auto 0 auto;
  padding: 3rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 6;
}

.begin div {
  width: 70%;
}

.begin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/general-images/AbstractDesign.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 90px;
}

.begin::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../assets/general-images/Petals.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 90px;
}

.begin div p {
  text-align: left;
  margin: 1rem 0 0 0;
  position: relative;
  z-index: 5;
}

.begin div h2 {
  margin: 0;
  text-align: left;
  position: relative;
  z-index: 5;
}

/* work section */

.work {
  margin: 5rem auto 5rem 0;
}

.work p {
  text-align: center;
  width: 85%;
  margin: 1.2rem auto 13rem auto;
}

/* process section */

.process-cards {
  width: 1596px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-areas:
    "i ii"
    "iii iv"
    "v vi"
    "vii viii"
    "ix x";
  row-gap: 10rem;
  column-gap: 2rem;
}

.flag {
  grid-area: i;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.flag, .basket, .wallet, .fork, .headset, .flash, .pin, .cap, .backpack, .cup {
  position: relative;
  padding: 2rem 0 0 3rem;
  position: relative;
  z-index: 6;
}


.basket {
  grid-area: ii;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.wallet {
  grid-area: iii;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.fork {
  grid-area: iv;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.headset {
  grid-area: v;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.flash {
  grid-area: vi;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.pin {
  grid-area: vii;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.cap {
  grid-area: viii;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.backpack {
  grid-area: ix;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.cup {
  grid-area: x;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
}

.flag::after {
  content: '01';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.flag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.basket::after {
  content: '02';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.basket::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.wallet::after {
  content: '03';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.wallet::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.fork::after {
  content: '04';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.fork::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.headset::after {
  content: '05';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.headset::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.flash::after {
  content: '06';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.flash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.pin::after {
  content: '07';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.pin::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.cap::after {
  content: '08';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.cap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.backpack::after {
  content: '09';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.backpack::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}

.cup::after {
  content: '10';
  position: absolute;
  top: -8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-rating);
  z-index: 0;
}

.cup::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 10vw;
  background-color: var(--bg-light);
  border-top-left-radius: 0.5rem;
  z-index: 2;
}


.flag p, .basket p, .wallet p, .fork p, .headset p, .flash p, .pin p, .cap p, .backpack p, .cup p {
  margin-top: 2rem;
  position: relative;
  z-index: 6;
}

.flag img, .basket img, .wallet img, .fork img, .headset img, .flash img, .pin img, .cap img, .backpack img, .cup img {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--color-lemon);
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 6;
}

.flag div, .basket div, .wallet div, .fork div, .headset div, .flash div, .pin div, .cap div, .backpack div, .cup div {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  position: relative;
  z-index: 6;
}


/* .flag, .basket, .wallet, .fork, .headset, .flash, .pin, .cap, .backpack, .cup {

} */
