@media screen and (max-width: 1440px) {
  .process {
    width: 1280px;
    height: 427px;
  }

  /* begin section */

  .begin, .process-cards {
    width: 1280px;
  }

}

@media screen and (max-width: 1294px) {
  .process {
    width: 88vw;
    height: fit-content;
  }

   /* begin section */

  .begin, .process-cards {
    width: 88vw;
  }

}

@media screen and (max-width: 425px) {
  .process p {
    width: 93%;
  }

  .process::before {
    width: 70%;
    height: 70%;
  }

    /* begin section */

  .begin {
    row-gap: 2rem;
  }

  .begin div {
    width: 90%;
  }

  .begin div h2,
  .begin div p {
    text-align: center;
  }
  
}
