@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-lemon: #cbea7b;
  --color-dark-green: #262626;
  --color-light-green: #fafdf2;
  --color-thick-text: #1a3129;
  --color-happy: #234338;
  --color-p-text: #333333;
  --color-blog-p-text: #4c4c4d;
  --color-date-text: #59595a;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-green-text: #2c5446;
  --color-grey: #f2f2f2;
  --bg-light: #f6fbe9;
  --color-rating: #468671;
  --color-thick-lemon: #b8f61c;
  --color-card: #f6fee0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* html,
body {
  overflow-x: hidden;
} */

body {
  background-color: var(--bg-light);
  width: 100vw;
  height: fit-content;
  max-width: 1920px;
  margin: auto;
}

header {
  height: 74px;
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  position: sticky;
  top: 0;
  background-color: var(--color-dark-green);
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
  align-items: center;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: transform 0.9s ease-in-out;
  position: fixed;
  top: 1.6rem;
  right: 1.5rem;
  z-index: 100;
}

.nav-links {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  column-gap: 2.5rem;
}

.page {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--color-light-green);
}

.nav-links li:hover .page {
  color: var(--color-lemon);
}

.contact {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--color-lemon);
}

.contact a {
  color: var(--color-dark-green);
}

.nav-links .contact:hover .page {
  color: var(--color-black);
}

.contact:hover {
  background-color: var(--color-thick-lemon);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    flex-direction: row;
    justify-content: unset;
    column-gap: 1.4rem;
  }

  .page {
    font-size: 1rem;
  }
}

@media screen and (max-width: 862px) {
  header {
    padding: 0 1rem 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100vw;
  }
  .navigation-container {
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: -100vw;
    top: 0;
    transition: right 0.9s ease-in-out;
  }

  .hamburger {
    display: inline;
  }

  .nav-links {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    row-gap: 2.5rem;
  }

  .page {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--color-light-green);
  }

  .nav-links li:hover a {
    color: var(--color-lemon);
  }

  .contact {
    color: var(--color-button-text);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: var(--color-lemon);
  }
}
