@media screen and (max-width: 1440px) {
  .expert {
    width: 1280px;
    height: 427px;
  }

join section */

  .join {
    width: 1280px;
  }
}

@media screen and (max-width: 1294px) {
  .expert {
    width: 88vw;
    height: fit-content;
  }

  /* join section */

  .join {
    width: 88vw;
  }
}

@media screen and (max-width: 425px) {
  .expert p {
    width: 93%;
  }

  .expert::before {
    width: 70%;
    height: 70%;
  }

  /* join section */

  .join {
    row-gap: 2rem;
  }

  .join div {
    width: 90%;
  }

  .join div h2,
  .join div p {
    text-align: center;
  }
  
}
