@media screen and (max-width: 1440px) {
  .expert {
    width: 1280px;
    height: 427px;
  }

  /* join section */

  .join,
  .staff-heads {
    width: 1280px;
  }

  .management span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1294px) {
  .expert {
    width: 88vw;
    height: fit-content;
  }

  /* join section */

  .join,
  .staff-heads {
    width: 88vw;
  }

  .staff-heads {
    justify-content: center;
    gap: 0.6rem;
  }

  .staff-heads section {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .management span:nth-child(3),
  .management span:nth-child(4),
  .management span:nth-child(5) {
    width: 20vw;
    display: none;
  }

  .management {
    row-gap: 1rem;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .expert p {
    width: 93%;
  }

  .expert::before {
    width: 70%;
    height: 70%;
  }

  .management span {
    font-size: 14px;
  }

  /* join section */

  .join {
    row-gap: 2rem;
  }

  .join div {
    width: 90%;
  }

  .join div h2,
  .join div p {
    text-align: center;
  }
}
