.expert {
  width: 1596px;
  height: 543px;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9rem;
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding-top: 4rem;
  position: relative;
}

.expert::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url("../assets/laptop/images/star.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 40%;
}

.expert img,
.expert p,
.expert h2 {
  position: relative;
  z-index: 5;
}

.expert p {
  text-align: center;
  width: 90%;
  margin-top: 0.3rem;
}

/* staff menu */

.management {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--color-happy);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.management span {
  color: var(--color-ash);
  font-size: 18px;
  cursor: pointer;
}

.management span:hover {
  color: var(--color-lemon);
}

.management span:nth-child(1) {
  padding: 0.7rem 0.9rem;
  background-color: var(--color-green-text);
  border-radius: 0.5rem;
}




/* join section */

.join {
    width: 1596px;
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    margin: 7rem auto 0 auto;
    padding: 3rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 6;
}

.join div {
    width: 70%;
}

.join::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/general-images/AbstractDesign.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 90px;
}

.join::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../assets/general-images/Petals.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 90px;
}

.join div p{
    text-align: left;
    margin: 1rem 0 0 0;
    position: relative;
    z-index: 5;
}

.join div h2{
    margin: 0;
    text-align: left;
    position: relative;
    z-index: 5;
}

.staff-heads {
  width: 1596px;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* row-gap: ; */
  border-radius: 0.5rem;
}

.sarah, .thompson, .davis, .rachel {
  position: relative;
}

.staff-heads section {
  width: 60%;
  padding: 1rem 0 1rem 1rem;
  background-color: var(--bg-light);
  border-top-right-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
